




.foodCard
{
  border: 1px solid rgb(75, 73, 73);
  border-radius: 5%;
  box-shadow: 3px 3px 3px rgb(138, 137, 137);
  padding: 25px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;

}

.foodCard .foodImage
{
  max-width: 90%;
  height: auto;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5%;
}



